<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="workLog">
      <h2 data-cy="workLogDetailsHeading"><span>Work Log</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ workLog.id }}</span>
        </dd>
        <dt><span>Time Spent</span></dt>
        <dd>
          <span>{{ workLog.timeSpent }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ workLog.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <div *ngIf="workLog.user">
            <a [routerLink]="['/user-config', workLog.user.id, 'view']">{{ workLog.user.id }}</a>
          </div>
        </dd>
        <dt><span>Ticket</span></dt>
        <dd>
          <div *ngIf="workLog.ticket">
            <a [routerLink]="['/ticket', workLog.ticket.id, 'view']">{{ workLog.ticket.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/work-log', workLog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
